/* Reset some default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Times New Roman; sans-serif;
     font-weight: bold;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #fff;
    background-color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

main {
    padding: 30px;
    text-align: center;
}

section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

a[href="https://hashmakerireland.bandcamp.com/"] {
    color: #ff6347; 
    text-decoration: underline; 
}

a[href="https://hashmakerireland.bandcamp.com/"]:hover {
    color: #ff4500; 
    text-decoration: none; 
}
